# Ignore files not needed for docker to build microservice image
node_modules/*
postgres/*
typings/*
*/.git*
*.git*
*.git
*.md
!gulpfile.js
ci/
.circleci/
Vagrantfile
concourse/
infra/*
vagrant/*
docker/Dockerfile
docker/database/
deploy/*
media/*
data/*
appspec.yml
compose.yml
docker-compose-prod.yml
docker-compose.yml
$virtualenv.tar.gz
$node_modules.tar.gz
docker-compose.override.yml
