/node_modules
.env
.env.backup
.phpunit.result.cache
.pnpm-store
docker-compose.override.yml
npm-debug.log
yarn-error.log
api/public/hot
api/public/storage
api/storage/*.key
api/storage/uploads
api/storage/public
api/vendor
api/composer.dev.json
api/composer-install-dev.sh
api/auth.json
act.sh
composer-auth.json
docker/database/*
docker/database/mysql/*
.talismanrc
verdaccio/minio
verdaccio/config/htpasswd
verdaccio/storage
# private packages
packages/billing
packages/flespi
packages/loconav
packages/internals
packages/projectargus-engine
# wip
packages/solid
solid
verdaccio