[submodule "packages/fleetops"]
	path = packages/fleetops
	url = git@github.com:fleetbase/fleetops.git
[submodule "packages/pallet"]
	path = packages/pallet
	url = git@github.com:fleetbase/pallet.git
[submodule "packages/dev-engine"]
	path = packages/dev-engine
	url = git@github.com:fleetbase/dev-engine.git
	branch = main
[submodule "packages/fleetbase-extensions-indexer"]
	path = packages/fleetbase-extensions-indexer
	url = git@github.com:fleetbase/fleetbase-extensions-indexer.git
[submodule "docs"]
	path = docs
	url = git@github.com:fleetbase/docs.git
[submodule "packages/ledger"]
	path = packages/ledger
	url = git@github.com:fleetbase/ledger.git
