[submodule "console"]
	path = console
	url = git@github.com:fleetbase/console.git
[submodule "packages/core-api"]
	path = packages/core-api
	url = git@github.com:fleetbase/core-api.git
[submodule "packages/fleetops-api"]
	path = packages/fleetops-api
	url = git@github.com:fleetbase/fleetops-api.git
[submodule "packages/ember-core"]
	path = packages/ember-core
	url = git@github.com:fleetbase/ember-core.git
[submodule "packages/ember-ui"]
	path = packages/ember-ui
	url = git@github.com:fleetbase/ember-ui.git
[submodule "packages/storefront-engine"]
	path = packages/storefront-engine
	url = git@github.com:fleetbase/storefront-engine.git
[submodule "packages/iam-engine"]
	path = packages/iam-engine
	url = git@github.com:fleetbase/iam-engine.git
[submodule "packages/dev-engine"]
	path = packages/dev-engine
	url = git@github.com:fleetbase/dev-engine.git
[submodule "packages/fleetbase-extensions-indexer"]
	path = packages/fleetbase-extensions-indexer
	url = git@github.com:fleetbase/fleetbase-extensions-indexer.git
[submodule "packages/fleetops-engine"]
	path = packages/fleetops-engine
	url = git@github.com:fleetbase/fleetops-engine.git
