language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm
    dist: trusty

matrix:
  fast_finish: true
  allow_failures:
    - php:
      - hhvm

before_install:
  - travis_retry composer self-update

install:
  - travis_retry composer install --prefer-source --no-interaction

script: phpunit
