services:
  cache:
    image: redis:4-alpine
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  database:
    image: postgres:16-alpine
    restart: unless-stopped
    ports:
      - "5432:5432"
    volumes:
      - "./docker/database/:/docker-entrypoint-initdb.d/"
      - "./docker/database/postgres:/var/lib/postgresql/data"
    environment:
      POSTGRES_USER: "fleetbase"
      POSTGRES_PASSWORD: "fleetbase"
      POSTGRES_DB: "fleetbase"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U fleetbase"]
      interval: 10s
      timeout: 5s
      retries: 5

  socket:
    image: socketcluster/socketcluster:v17.4.0
    restart: unless-stopped
    ports:
      - "38000:8000"
    environment:
      SOCKETCLUSTER_WORKERS: 10
      SOCKETCLUSTER_BROKERS: 10

  scheduler:
    build:
      context: .
      dockerfile: docker/Dockerfile.pgsql
      target: production
    volumes:
      - ./docker/crontab:/fleetbase/api/crontab:ro
    command: ["go-crond", "--verbose", "--allow-unprivileged", "root:./crontab"]
    restart: unless-stopped
    environment:
      DATABASE_URL: "pgsql://fleetbase:fleetbase@database/fleetbase"
      QUEUE_CONNECTION: redis
      CACHE_DRIVER: redis
      CACHE_PATH: /fleetbase/api/storage/framework/cache
      CACHE_URL: tcp://cache
      REDIS_URL: tcp://cache
    depends_on:
      - database
      - cache

  queue:
    build:
      context: .
      dockerfile: docker/Dockerfile.pgsql
      target: production
    command: ["php", "artisan", "queue:work"]
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "php", "artisan", "queue:status"]
      interval: 30s
      timeout: 10s
      retries: 3
    environment:
      DATABASE_URL: "pgsql://fleetbase:fleetbase@database/fleetbase"
      QUEUE_CONNECTION: redis
      CACHE_DRIVER: redis
      CACHE_PATH: /fleetbase/api/storage/framework/cache
      CACHE_URL: tcp://cache
      REDIS_URL: tcp://cache
    depends_on:
        - database
        - cache

  console:
    image: fleetbase/fleetbase-console:latest
    ports:
      - "4200:4200"
    volumes:
      - ./console/fleetbase.config.json:/usr/share/nginx/html/fleetbase.config.json

  application:
    build:
      context: .
      dockerfile: docker/Dockerfile.pgsql
      target: development
    volumes:
      - ./api/.env:/fleetbase/api/.env
    environment:
      ENVIRONMENT: development
      DATABASE_URL: "pgsql://fleetbase:fleetbase@database/fleetbase"
      QUEUE_CONNECTION: redis
      CACHE_DRIVER: redis
      CACHE_PATH: /fleetbase/api/storage/framework/cache
      CACHE_URL: tcp://cache
      REDIS_URL: tcp://cache
      SESSION_DOMAIN: localhost
      BROADCAST_DRIVER: socketcluster
      MAIL_FROM_NAME: Fleetbase
      APP_NAME: Fleetbase
      LOG_CHANNEL: daily
      REGISTRY_HOST: https://registry.fleetbase.io
      REGISTRY_PREINSTALLED_EXTENSIONS: 'true'
      OSRM_HOST: https://router.project-osrm.org
    depends_on:
      - database
      - cache
      - queue

  httpd:
    build:
      context: .
      dockerfile: docker/httpd/Dockerfile
    ports:
      - "8000:80"
    depends_on:
      - application