{{page-title "Portal"}}
<div class="portal-container">
    <div class="container">
        <div class="flex flex-row">
            <a href="javascript:;" {{on "click" this.invalidateSession}}>Sign out</a>
        </div>
    </div>
</div>