{{#if this.hasData}}
    <div class="bitacora-report-chart" ...attributes>
        <canvas
            role="img"
            aria-label={{this.ariaLabel}}
            id={{this.canvasId}}
        ></canvas>
    </div>
{{else}}
    <div class="bitacora-report-chart bitacora-report-chart--empty" ...attributes>
        <p>Sin datos suficientes para graficar.</p>
    </div>
{{/if}}
