{{#if this.shouldRender}}
    <InfoBlock @icon="triangle-exclamation" class="two-fa-enforcement-alert bg-yellow-100 border-2 border-yellow-600 dark:border-yellow-500 rounded-lg">
        <div class="flex flex-row justify-between">
            <div class="flex-1 pr-2">
                <p class="text-base dark:text-yellow-900 mb-2">
                    To enhance the security of your account, your organization requires Two-Factor Authentication (2FA). Enable 2FA in your account settings for an additional layer of
                    protection.
                </p>
            </div>
            <div class="flex-shrink-0">
                <Button id="two-fa-setup-button" @type="warning" @buttonType="button" @onClick={{this.transitionToTwoFactorSettings}}>
                    Setup 2FA
                </Button>
            </div>
        </div>
    </InfoBlock>
{{/if}}