.status-badge {
    width: -moz-fit-content;
    width: fit-content;
}

.status-badge.rounded-full > span,
.status-badge > span.badge-rounded-full {
    width: 0.5rem;
    height: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
    border: 1px solid #4b5563;
}

.status-badge.default-status-badge > span,
.status-badge > span {
    @apply bg-gray-800 border-gray-600 text-gray-100 border border-solid;
}

.status-badge.default-status-badge > span svg,
.status-badge > span svg {
    @apply text-gray-300;
}

.status-badge.status-badge-lg > span {
    @apply px-3 py-1 text-base leading-5;
}

.status-badge[class*='2'] > span,
.status-badge.green-status-badge > span,
.status-badge.published-status-badge > span,
.status-badge.live-status-badge > span,
.status-badge.online-status-badge > span,
.status-badge.created-status-badge > span,
.status-badge.enabled-status-badge > span,
.status-badge.success-status-badge > span,
.status-badge.succeeded-status-badge > span,
.status-badge.dispatched-status-badge > span,
.status-badge.operational-status-badge > span,
.status-badge.active-status-badge > span,
.status-badge.completed-status-badge > span {
    @apply bg-green-800 border-green-700 text-green-100;
}

.status-badge[class*='2'] > span svg,
.status-badge.green-status-badge > span svg,
.status-badge.published-status-badge > span svg,
.status-badge.live-status-badge > span svg,
.status-badge.online-status-badge > span svg,
.status-badge.created-status-badge > span svg,
.status-badge.enabled-status-badge > span svg,
.status-badge.success-status-badge > span svg,
.status-badge.succeeded-status-badge > span svg,
.status-badge.dispatched-status-badge > span svg,
.status-badge.operational-status-badge > span svg,
.status-badge.active-status-badge > span svg,
.status-badge.completed-status-badge > span svg {
    @apply text-green-300;
}

.status-badge.sky-status-badge > span {
    @apply bg-[black] border-[black] text-white ;
}

.status-badge.sky-status-badge > span svg {
    @apply text-white;
}

.status-badge.emerald-status-badge > span {
    @apply bg-[black] border-[black] text-white ;
}

.status-badge.emerald-status-badge > span svg {
    @apply text-white;
}

.status-badge.started-status-badge > span,
.status-badge.cyan-status-badge > span {
    @apply bg-[#1d4ed8] border-[#1d4ed8] text-white ;
}

.status-badge.started-status-badge > span svg,
.status-badge.cyan-status-badge > span svg {
    @apply text-white;
}

.status-badge.violet-status-badge > span {
    @apply bg-[black] border-[black] text-white ;
}

.status-badge.cyan-status-badge > span svg {
    @apply text-white;
}

.status-badge.slate-status-badge > span {
    @apply bg-[black] border-[black] text-white ;
}

.status-badge.slate-status-badge > span svg {
    @apply text-white;
}

.status-badge.gray-status-badge > span {
    @apply bg-gray-800 border-gray-700 text-gray-100;
}

.status-badge.gray-status-badge > span svg {
    @apply text-gray-300;
}

.status-badge[class*='5'] > span,
.status-badge.red-status-badge > span,
.status-badge.high-status-badge > span,
.status-badge.rejected-status-badge > span,
.status-badge.critical-status-badge > span,
.status-badge.disabled-status-badge > span,
.status-badge.inactive-status-badge > span,
.status-badge.failed-status-badge > span,
.status-badge.canceled-status-badge > span {
    @apply bg-red-800 border-red-700 text-red-100;
}

.status-badge[class*='5'] > span svg,
.status-badge.red-status-badge > span svg,
.status-badge.high-status-badge > span svg,
.status-badge.rejected-status-badge > span svg,
.status-badge.critical-status-badge > span svg,
.status-badge.urgent-status-badge > span svg,
.status-badge.high-status-badge > span svg,
.status-badge.disabled-status-badge > span svg,
.status-badge.failed-status-badge > span svg,
.status-badge.canceled-status-badge > span svg {
    @apply text-red-300;
}

.status-badge[class*='4'] > span,
.status-badge.yellow-status-badge > span,
.status-badge.enroute-status-badge > span,
.status-badge.driver-enroute-status-badge > span .status-badge.offline-status-badge > span,
.status-badge.pending-review-status-badge > span,
.status-badge.awaiting-review-status-badge > span,
.status-badge.scheduled-maintenance-status-badge > span,
.status-badge.test-status-badge > span,
.status-badge.warning-status-badge > span,
.status-badge.preparing-status-badge > span,
.status-badge.trial-status-badge > span,
.status-badge.trialing-status-badge > span,
.status-badge.grace-period-status-badge > span,
.status-badge.pending-status-badge > span {
    @apply bg-[#3730a3] border-[#3730a3] text-white;
}

.status-badge[class*='4'] > span svg,
.status-badge.yellow-status-badge > span svg,
.status-badge.enroute-status-badge > span svg,
.status-badge.driver-enroute-status-badge > span svg,
.status-badge.offline-status-badge > span svg,
.status-badge.pending-review-status-badge > span svg,
.status-badge.awaiting-review-status-badge > span svg,
.status-badge.scheduled-maintenance-status-badge > span svg,
.status-badge.test-status-badge > span svg,
.status-badge.warning-status-badge > span svg,
.status-badge.preparing-status-badge > span svg,
.status-badge.trial-status-badge > span svg,
.status-badge.trialing-status-badge > span svg,
.status-badge.grace-period-status-badge > span svg,
.status-badge.pending-status-badge > span svg {
    @apply text-yellow-300;
}

.status-badge.confirmed-status-badge > span,
.status-badge.driver-confirmed-status-badge > span {
    @apply bg-[#0d9488] border-[#0d9488] text-white
}

.status-badge.indigo-status-badge > span,
.status-badge.operational-suggestion-status-badge > span,
.status-badge.dispatched-status-badge > span,
.status-badge.assigned-status-badge > span {
    @apply bg-[#6d28d9] border-[#6d28d9] text-white ;
}

.status-badge.indigo-status-badge > span svg,
.status-badge.operational-suggestion-status-badge > span svg,
.status-badge.dispatched-status-badge > span svg,
.status-badge.assigned-status-badge > span svg {
    @apply bg-[black] 
}

.status-badge.orange-status-badge > span,
.status-badge.alerted-status-badge > span,
.status-badge.medium-status-badge > span {
    @apply bg-orange-700 border-orange-700 text-orange-100;
}

.status-badge.orange-status-badge > span svg,
.status-badge.alerted-status-badge > span svg,
.status-badge.medium-status-badge > span svg {
    @apply text-orange-300;
}

.status-badge.blue-status-badge > span,
.status-badge.created-status-badge > span,
.status-badge.low-status-badge > span,
.status-badge.approved-status-badge > span,
.status-badge.info-status-badge > span,
.status-badge.in-progress-status-badge > span {
    @apply bg-[black] border-[black] text-white;
}

.status-badge.blue-status-badge > span svg,
.status-badge.created-status-badge > span svg,
.status-badge.loq-status-badge > span svg,
.status-badge.approved-status-badge > span svg,
.status-badge.info-status-badge > span svg,
.status-badge.in-progress-status-badge > span svg {
    @apply bg-[black];
}

body[data-theme='dark'] .status-badge:not(.shadow-none) {
    @apply shadow;
}

.org-badge {
    @apply bg-[black] text-gray-900 text-white w-5 h-5 text-xs flex items-center justify-center text-center shadow-sm flex-shrink-0 mr-2.5;
    height:40px;
    width: 40px;
}

