.ember-power-select-trigger > ul.ember-power-select-multiple-options > li > .ember-power-select-placeholder {
    color: #6b7280;
    opacity: 1;
}

.ember-power-select-trigger > ul.ember-power-select-multiple-options + .ember-power-select-status-icon {
    display: none;
}

.ember-basic-dropdown-content > .ember-power-select-options {
    @apply bg-white text-sm dark:text-white dark:bg-gray-700 outline-0;
}

.ember-basic-dropdown-content > .ember-power-select-options .ember-power-select-option--no-matches-message {
    @apply text-sm dark:text-gray-200;
}

.ember-power-select-dropdown.ember-basic-dropdown-content--below,
.ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
    @apply border-x border-b border-t-0 dark:border-gray-900 border-gray-200 shadow-sm shadow-gray-900;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.ember-power-select-trigger.ember-power-select-multiple-trigger.form-input.form-input-sm,
.ember-power-select-trigger.ember-power-select-multiple-trigger.form-input-sm {
    max-height: 34px;
    padding: 0.35rem 0.45rem;
}

.ember-power-select-multiple-trigger > .ember-power-select-multiple-options > .ember-power-select-multiple-option {
    padding: 0 8px;
    margin: 0;
}

.ember-power-select-clear-btn {
    @apply top-0 bg-red-500 dark:bg-red-600 h-5 w-5 flex items-center justify-center rounded-md text-center p-0 leading-normal mr-1.5 mt-1.5 shadow-sm text-gray-100 text-sm font-bold;
}

.ember-power-select-clear-btn:hover,
.ember-power-select-clear-btn:active {
    @apply bg-red-400 dark:bg-red-500;
}

.ember-power-select-trigger-multiple-input,
.ember-power-select-trigger-multiple-input[type='search'] {
    @apply bg-transparent text-sm text-white outline-0 leading-5 px-1;
    max-height: 21px;
}
