.kanban-container {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    overflow-x: scroll;
}

.kanban-container .kanban-inner-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    height: 100vh;
    padding-left: 1.25rem;
}

.kanban-container .kanban-inner-container .kanban-column {
    width: 300px;
    height: 100%;
    border-radius: 0.5rem;
    margin-right: 1.25rem;
    @apply bg-gray-300 dark:bg-gray-800 shadow-sm;
}

.kanban-container .kanban-inner-container .kanban-column > .kanban-column-header {
    display: flex;
    flex-direction: row;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-width: 2px;
    @apply px-4 py-2 border-gray-200 dark:border-gray-500;
}

.kanban-container .kanban-inner-container .kanban-column > .kanban-column-body {
    @apply px-4 py-2;
}
