.content-panel {
    @apply mb-4 overflow-hidden border border-gray-200 rounded-lg;
}

.content-panel > .content-panel-header {
    @apply flex justify-between w-full py-3 px-5 border-b border-gray-200;
}

.content-panel > .content-panel-body {
    @apply p-5;
}

.content-panel > .content-panel-body.table-fluid {
    @apply p-0 shadow-none;
}

.content-panel > .content-panel-body.no-padding {
    @apply p-0;
}

.content-panel > .content-panel-body.no-y-padding {
    @apply py-0 px-5;
}

.content-panel > .content-panel-body.no-x-padding {
    @apply px-0 py-5;
}

.content-panel > .content-panel-footer {
    @apply border-t border-gray-300;
}

[data-theme='light'] .content-panel {
    @apply bg-white;
}

[data-theme='dark'] .content-panel {
    @apply border-gray-700;
}

[data-theme='dark'] .content-panel.neon {
    @apply border-[#2A3C30];
}

[data-theme='dark'] .content-panel > .content-panel-header {
    @apply bg-gray-900 border-gray-700 text-gray-200;
}

[data-theme='dark'] .content-panel > .content-panel-footer {
    @apply border-gray-900;
}

#serviceContainer.developers-console-service .content-panel > .content-panel-header:not(.min-h-0) {
    min-height: 75px;
}

.next-content-panel > .next-content-panel-header > .next-content-panel-header-right .next-content-panel-status-badge {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.next-content-panel > .next-content-panel-header > .next-content-panel-header-right .next-content-panel-status-badge > span {
    font-size: 10px;
    padding: 0.25rem;
    line-height: 1;
    font-weight: 600;
    border-radius: 0.35rem;
    @apply shadow-sm;
}

.next-content-panel a.next-nav-item.next-nav-item-with-dropdown .next-nav-item-dropdown-button,
.next-content-panel a.next-nav-item.next-nav-item-with-dropdown .next-nav-item-dropdown-button button {
    cursor: default;
}

.next-content-panel a.next-nav-item.next-nav-item-with-dropdown .next-nav-item-dropdown-button button:hover {
    background-color: initial;
}

.next-content-panel a.next-nav-item.next-nav-item-with-dropdown .next-nav-item-dropdown-button button.btn {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    font-size: 10px;
    margin-right: -0.5rem;
    line-height: 0.5;
}
.next-content-panel a.next-nav-item.next-nav-item-with-dropdown {
    overflow: visible;
}
