{{page-title "Extensions"}}
<Layout::Section::Body class="overflow-y-scroll h-full pt-6">
    <div class="container mx-auto h-screen space-y-4">
        <div class="flex flex-col items-center justify-center pt-14 px-40">
            <FaIcon @icon="shapes" @size="4x" class="mb-6 text-blue-500" />
            <h1 class="dark:text-gray-100 text-black text-4xl font-bold mb-4">{{t "console.extensions.title"}}</h1>
            <p class="dark:text-gray-300 text-black text-lg">
                {{t "console.extensions.message"}}
            </p>
        </div>
    </div>
</Layout::Section::Body>