{{page-title "Dashboard"}}
<Layout::Section::Body class="overflow-y-scroll h-full pt-6">
    <div class="console-home-container mx-auto h-screen space-y-4" {{increase-height-by 300}}>
        <Dashboard @sidebar={{this.sidebarContext}} />
    </div>
</Layout::Section::Body>