{{page-title "Dashboard"}}
<Layout::Section::Body class="overflow-y-scroll h-full pt-6">
    <div class="console-home-container mx-auto h-screen space-y-4">
        <TwoFaEnforcementAlert />
        <Dashboard @sidebar={{this.sidebarContext}} />
        <Spacer @height="300px" />
    </div>
</Layout::Section::Body>