.two-fa-enforcement-alert svg.fa-triangle-exclamation {
    font-size: 2.25rem;
    padding-right: 0.5rem;
    color: rgb(202 138 4);
}

body[data-theme="dark"] .two-fa-enforcement-alert button#two-fa-setup-button.btn.btn-warning,
.two-fa-enforcement-alert button#two-fa-setup-button.btn.btn-warning {
    background-color: rgb(202 138 4);
    border-color: rgb(161 98 7);
    color: rgb(254 249 195);
    cursor: default;
}


