{{page-title "Notification Channels Configuration"}}
<Layout::Section::Header @title={{t "console.admin.config.notification-channels.title"}} />

<Layout::Section::Body class="overflow-y-scroll h-full">
    <div class="container mx-auto h-screen" {{increase-height-by 800}}>
        <div class="max-w-3xl my-10 mx-auto space-y-6">
            <Configure::NotificationChannels />
        </div>
    </div>
</Layout::Section::Body>