<section class="onboarding step-host">
    {{#if this.initialized}}
        {{#if this.orchestrator.wrapper}}
            {{component (lazy-engine-component this.orchestrator.wrapper) currentStepComponent=this.currentComponent context=this.context orchestrator=this.orchestrator brand=@brand}}
        {{else if this.currentComponent}}
            {{component (lazy-engine-component this.currentComponent) context=this.context orchestrator=this.orchestrator brand=@brand}}
        {{/if}}
    {{else}}
        <div class="flex items-center justify-center min-h-24">
            <Spinner />
        </div>
    {{/if}}
</section>